{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure
  {:mvn/version "1.12.5"}}

 :aliases
 {:run
  {:main-opts
   ["-m" "portfolio-evolution.core"]}

  :dsl-demo
  {:main-opts
   ["-m" "portfolio-evolution.dsl-demo"]}

  :generation-demo
  {:main-opts
   ["-m" "portfolio-evolution.generation-demo"]}

  :test
  {:extra-paths ["test"]
   :main-opts
   ["-m" "portfolio-evolution.test-runner"]}}}
