{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure
  {:mvn/version "1.12.5"}

  org.apache.commons/commons-math3
  {:mvn/version "3.6.1"}}

 :aliases
 {:run
  {:main-opts
   ["-m" "portfolio-evolution.core"]}

  :dsl-demo
  {:main-opts
   ["-m" "portfolio-evolution.dsl-demo"]}

  :generation-demo
  {:main-opts
   ["-m" "portfolio-evolution.generation-demo"]}

  :outer-demo
  {:main-opts
   ["-m" "portfolio-evolution.outer-population-demo"]}

  :evolve-demo
  {:main-opts
   ["-m" "portfolio-evolution.evolution-demo"]}

  :evaluate-demo
  {:main-opts
   ["-m" "portfolio-evolution.held-out-demo"]}

  :scale-evaluate-demo
  {:main-opts
   ["-m" "portfolio-evolution.scale-evaluation-demo"]}

  :final-experiment
  {:main-opts
   ["-m" "portfolio-evolution.final-experiment-demo"]}

  :greedy-baseline
  {:main-opts
   ["-m" "portfolio-evolution.greedy-baseline-experiment"]}

  :test
  {:extra-paths ["test"]
   :main-opts
   ["-m" "portfolio-evolution.test-runner"]}}}
